body {
    display: flex;
}

[hidden] {
    display: none !important;
}

.cat-clicker {
    width: 60%;
}

.cat-container {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.cat-box {
    position: relative;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    color: yellow;
}

.text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.cat {
    display: block;
    max-width: 100%;
    height: auto;
    width: 300px;
}

#cat-list {
    list-style-type: none;
    float: left;
}