body {
    display: flex;
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

.cat-container {
    display: inline-block;
    margin: 16px;
    text-align: center;
}

.cat-box {
    position: relative;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    color: yellow;
}

.text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.cat {
    display: block;
    max-width: 100%;
    height: auto;
    /*width: 300px;*/
}

.cat-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.left-container {
    float: left;
    width: 40%;
    padding: 16px;
}

.admin-box {
    margin-top: 20px;
}

.btn-admin {
    float: left;
    display: block;
}

.admin-setting-box {
    margin-left: 16px;
    display: inline-block;
}

.form {
    margin: 32px 0;
}

.input {
    margin-bottom: 16px;
}

input[type=text] {
    font-size: 1.2em;
}

form label {
    display: inline-block;
    text-align: right;
    width: 100px;
    margin-right: 8px;
}

.buttons {
    margin-left: 112px;
}